@{ 
    
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Hesap/Ayarlar");
    }
    Layout = Href("~/Shared/_LayoutYeni.cshtml");
 
    var db=Database.Open("fb1ae");

    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
   
    var dil=queryKullanici.Dil;

    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }
    var queryUser=db.QuerySingle("select * from Profiles INNER JOIN UyelikTurleri ON Profiles.UyelikTuru=UyelikTurleri.UyelikID WHERE Profiles.userID=@0",WebSecurity.CurrentUserId);
    var queryKurumlar=db.Query("SELECT * FROM Kurum");
    var queryUnvanlar=db.Query("SELECT * FROM Unvan WHERE Dil=@0 AND UnvanID<>10 AND UnvanID<>11",dil);
    var roller=Roles.GetRolesForUser(WebSecurity.CurrentUserName);
    var toplamDosyaAlani= Convert.ToDouble(db.QueryValue("SELECT ISNULL(SUM(Boyut),0) as Toplam FROM Dosya WHERE UserID=@0 AND Silindi=0",WebSecurity.CurrentUserId));
    double yuzdeDosyaAlani= 100-Math.Round(toplamDosyaAlani*100/ queryUser.EgitmenDepolamaAlani);

    var toplamOdevDosyaAlani= Convert.ToDouble(db.QueryValue("SELECT ISNULL(SUM(Boyut),0) as Toplam FROM Dosya WHERE UserID=@0 AND Silindi=0 AND Dosya.YuklenmeTuru=2",WebSecurity.CurrentUserId));
    double yuzdeOdevDosyaAlani= 100-Math.Round(toplamOdevDosyaAlani*100/ queryUser.EgitmenOdevDepolamaAlani);

    var kullanilanBantGenisligi=db.QueryValue("SELECT ISNULL(SUM(Dosya.Boyut),0) FROM Dosya INNER JOIN DosyaIndirilen ON Dosya.DosyaID=DosyaIndirilen.DosyaID WHERE Dosya.UserID=@0 AND month(DosyaIndirilen.Tarih)=@1",WebSecurity.CurrentUserId,DateTime.Now.Month);
  
    db.Close();
   
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblHesapAyarlari</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblHesapAyarlari</h1>
}


<div class="row">
     <div class="col-md-12 column">


         <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    
    <li role="presentation" class="active"><a href="#profil" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-cog"></i> @Resources.Resource.lblProfilBilgileri</a></li>
    <li role="presentation"><a href="#paroladegistir" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-key"></i> @Resources.Resource.lblGirisParolasiniDegistir</a></li>
     @if (roller.Contains("Ogretici"))
      {
      <li role="presentation"><a href="#uyelikbilgileri" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-info-circle"></i> @Resources.Resource.lblUyelikBilgileri</a></li>
     }
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
      <div role="tabpanel" class="tab-pane  active" id="profil">
      <div class="form-horizontal" >
            <div class="form-group">
               <label for="fileProfilFotografSec" class="col-sm-3 control-label">@Resources.Resource.lblProfilFotografi</label>
              <div class="col-sm-3">
                   
                  <a href="#" id="lnkGrupFotografSec" >
                  <img src="http://bulutders.blob.core.windows.net/profilresimleri/@queryUser.Avatar" style="width: 64px;height: 64px;" id="imgProfilFoto"></img>
                        <small> @Resources.Resource.lblDegistir</small></a>  <button class="btn-link" id="btnProfilFotoKaldir"><small>@Resources.Resource.lblKaldir</small></button>
                 
                        <input type="file" id="fileProfilFotografSec" class="hide"/>
                </div>
                  </div>      
          <div class="form-group">
             <label for="cmbUnvanlar" class="col-sm-3 control-label">Ünvan</label>
                 <div class="col-sm-3">
                        <select id="cmbUnvanlar" data-ilkdeger="@queryUser.UnvanID">
                           <option value="10"> </option>
                        @foreach (var unvan in queryUnvanlar)
                        {
                            <option value="@unvan.UnvanID">@unvan.Unvan</option>
                        }
                    </select>
                 </div>
             </div>
				<div class="form-group">
					 <label for="txtAd" class="col-sm-3 control-label">@Resources.Resource.lblAd</label><div class="col-sm-3"><input class="form-control" id="txtAd" name="txtAd" type="text" value="@queryUser.Ad" /></div>
				</div>
                
                <div class="form-group">
					 <label for="txtSoyad" class="col-sm-3 control-label">@Resources.Resource.lblSoyad</label><div class="col-sm-3"><input class="form-control" id="txtSoyad" name="txtSoyad" type="text" value="@queryUser.Soyad" /></div>
				</div>
             <div class="form-group">
             <label for="cmbUniversiteler" class="col-sm-3 control-label">@Resources.Resource.lblUniversite</label>
                 <div class="col-sm-3">
                        <select id="cmbUniversiteler" data-ilkdeger="@queryUser.KurumID">
                            <option value="0">@Resources.Resource.lblUniversiteSec</option>
                        @foreach (var kurum in queryKurumlar)
                        {
                            <option value="@kurum.KurumID">@kurum.KurumAdi</option>
                        }
                    </select>
                 </div>
             </div>

           <div class="form-group">
             <label for="cmbDil" class="col-sm-3 control-label">Dil/Language</label>
                 <div class="col-sm-3">
                        <select id="cmbDil" data-ilkdeger="@queryUser.Dil">
                            <option value="tr">Türkçe</option>
                            <option value="en">English</option>
                       
                    </select>
                 </div>
             </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><button type="submit" class="btn btn-primary" id="buttonProfilGuncelle">@Resources.Resource.lblGuncelle</button></div>
                    </div> 
				</div>
      
      </div>
    <div role="tabpanel" class="tab-pane" id="paroladegistir">
        <br>
           
      <label for="txtParola">@Resources.Resource.lblGecerliParola</label>
        <input class="form-control" id="txtParola" name="txtParola" type="password" />

        <label for="txtReParola">@Resources.Resource.lblYeniParola</label>
        <input class="form-control" id="txtYeniParola" name="txtYeniParola" type="password" />

		<label for="txtReParola">@Resources.Resource.lblYeniParolaTekrar</label>
        <input class="form-control" id="txtReYeniParola" name="txtReYeniParola" type="password" />	
          <br>      
        <button type="button" class="btn btn-primary" id="btnParolaDegistir">@Resources.Resource.lblParolayiDegistir</button>
          
    </div>

      @if (roller.Contains("Ogretici"))
      {
      
     <div role="tabpanel" class="tab-pane" id="uyelikbilgileri">
         <p>@Resources.Resource.lblUyelikTuru</p> <h2>@queryUser.UyelikAdi</h2>
         <table class="table table-striped">
         <tr><td></td><td></td><td><strong>@Resources.Resource.lblKullanilan</strong></td><td><strong>@Resources.Resource.lblKota</strong></td></tr>
         <tr><td>@Resources.Resource.lblDepolamaAlani</td><td></td><td><h2>@Genel.StorageLabel(toplamDosyaAlani)</h2></td><td><h2>@Genel.StorageLabel(queryUser.EgitmenDepolamaAlani)</h2></td></tr>
         <tr><td>@Resources.Resource.lblOdevleriçinDepolamaAlani</td><td></td><td><h2>@Genel.StorageLabel(toplamOdevDosyaAlani)</h2></td><td><h2>@Genel.StorageLabel(queryUser.EgitmenOdevDepolamaAlani)</h2></td></tr>
         <tr><td>@Resources.Resource.lblDosyaIndirmeKotasi</td><td></td><td><h2>@Genel.StorageLabel(kullanilanBantGenisligi)</h2></td><td><h2>@Genel.StorageLabel(queryUser.BantGenisligi) / Ay</h2></td></tr>
             
         
         </table>
     </div>
     }
  </div>

</div>


         
     </div>
</div>





@section js
{
<script src="@Href("~/Shared/Plugins/JqueryValidate/jquery.form.js")"></script>
<script src="@Href(string.Format("~/Shared/Javascript/Dil/{0}/Hesap/Ayarlar.js",dil))"></script>
<script src="@Href("~/Shared/Javascript/Hesap/Ayarlar.min.js")"></script>       
}