@{    

if (WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Panel");
    }
  
  var returnUrl="Panel";

  var dil="tr";
   
   if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }

  if (!string.IsNullOrEmpty(Request.QueryString["returnUrl"]))
   {
    returnUrl=Request.QueryString["returnUrl"];
   }
   var ePosta=Request["txtEposta"];
   var parola=Request["txtParola"];
   var mesajGirisBasarisiz="";   var hataVar=false;
   var mesajHesapPasif="";   var mesajGuvenlikKoduHatasi="";
  Layout = "~/Shared/_LayoutYeniMisafir.cshtml";
   if (IsPost)
   {
       if (!ReCaptcha.Validate("6LdM5hwTAAAAAAAjS6NQWI7uVXlCddNNhSJ__Slu")) {
            hataVar=true;
            mesajGuvenlikKoduHatasi="Güvenlik kodu hatalı girildi";

         }


       var db=Database.Open("fb1ae");
       
       if (db.QueryValue("SELECT count(*) FROM Profiles WHERE ePosta=@0 AND Aktif=0",ePosta)>0)
       {                     hataVar=true;
           mesajHesapPasif="Bu kullanıcı hesabı sistem yöneticisi tarafından askıya alındı.";
       }

       if (hataVar==false)
       {
            if (WebSecurity.Login(ePosta.Trim(),parola.Trim(),true))
            {
                db.Execute("INSERT INTO Ziyaret(UserID,IP) VALUES(@0,@1)",WebSecurity.GetUserId(ePosta.Trim()),Request.UserHostAddress);
               if (string.IsNullOrEmpty(returnUrl))
               {
                   Response.Redirect("~/Panel");
               }
               else
               {
                   Response.Redirect("~/" + returnUrl);
               }
            }
            else 
            {
               mesajGirisBasarisiz="Giriş başarısız. Lütfen kullanıcı adını ve parolanı kontrol et";
            }
        }
        db.Close();
    }
}<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
       
       @if (!string.IsNullOrEmpty(mesajGirisBasarisiz))
        {
             <p class="alert alert-danger">@mesajGirisBasarisiz</p>
        }       @if (!string.IsNullOrEmpty(mesajGuvenlikKoduHatasi))
        {
             <p class="alert alert-danger">@mesajGuvenlikKoduHatasi</p>
        }

        @if (!string.IsNullOrEmpty(mesajHesapPasif))
        {
            <p class="alert alert-danger">@mesajHesapPasif</p>
        }
                                            <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-blue">
                                                    <span class="widget-caption"> <strong><i class="fa fa-lock"></i> Oturum Aç</strong></span>
                                                </div>
                                                <div class="widget-body">
                                                    <div id="registration-form">
                                                        <form role="form" method="post" action="#">
                                                            <div class="form-title">
                                                               Kullanıcı Bilgileri
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="txtEposta" name="txtEposta" value="@ePosta"  placeholder="@Resources.Resource.lblEposta" required autofocus="true" />
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input type="password" class="form-control" placeholder="@Resources.Resource.lblParola" id="txtParola" name="txtParola" required />
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                           
                                                            
                                                            <div class="form-group">
                                                                @ReCaptcha.GetHtml("6LdM5hwTAAAAAG7LVuSifeauuY5FR3vOXrXtZcz9", theme: "white",language:"tr")
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-block">Oturum Aç</button>
                                                            <a href="@Href("~/Hesap/ParolamiUnuttum")" class="btn btn-primary btn-block">@Resources.Resource.lblParolamiUnuttum</a>
                                                            <a href="@Href("~/Hesap/Yeni?returnUrl=" + returnUrl)" class="btn btn-primary btn-block">@Resources.Resource.lblOgrenciKayit</a>
                                                            <a href="@Href("~/Hesap/YeniEgitmen?returnUrl=" + returnUrl)" class="btn btn-primary btn-block">@Resources.Resource.lblEgitmenKayit</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
</div>
