@{    

if (WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Panel");
    }
  var returnUrl="Panel";
  var dil="tr";
  if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }

  if (!string.IsNullOrEmpty(Request.QueryString["returnUrl"]))
   {
    returnUrl=Request.QueryString["returnUrl"];
   }
  
   var mesajGirisBasarisiz="";   var hataVar=false;
   var mesajHesapPasif="";   var mesajGuvenlikKoduHatasi="";   var mesajKullaniciAdiveyaParolaBos="";   var ePosta="";   var parola="";
  Layout = "~/Shared/_LayoutYeniMisafir.cshtml";
   if (IsPost)
   {      ePosta=Request["txtEposta"].Trim();
      parola=Request["txtParola"].Trim();       if (string.IsNullOrEmpty(ePosta) || string.IsNullOrEmpty(parola))         {
             hataVar=true;
             mesajKullaniciAdiveyaParolaBos="Kullanıcı adı veya parola boş bırakılamaz";
         }
        string EncodedResponse = Request.Form["g-Recaptcha-Response"];
        bool IsCaptchaValid = (ReCaptchaClass.Validate(EncodedResponse) == "True" ? true : false);

        if (!IsCaptchaValid) {
            hataVar=true;
            mesajGuvenlikKoduHatasi="Güvenlik kodu hatalı girildi";
        }



       var db=Database.Open("fb1ae");
       if (db.QueryValue("SELECT count(*) FROM Profiles WHERE ePosta=@0 AND Aktif=0",ePosta)>0)
       {                     hataVar=true;
           mesajHesapPasif="Bu kullanıcı hesabı sistem yöneticisi tarafından askıya alındı.";
       }
       if (hataVar==false)
       {
            if (WebSecurity.Login(ePosta.Trim(),parola.Trim(),true))
            {
                db.Execute("INSERT INTO Ziyaret(UserID,IP) VALUES(@0,@1)",WebSecurity.GetUserId(ePosta.Trim()),Request.UserHostAddress);
               if (string.IsNullOrEmpty(returnUrl))
               {
                   Response.Redirect("~/Panel");
               }
               else
               {
                   Response.Redirect("~/" + returnUrl);
               }
            }
            else 
            {
               mesajGirisBasarisiz="Giriş başarısız. Lütfen kullanıcı adını ve parolanı kontrol et";
            }
        }
        db.Close();
    }
}<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
       
       @if (!string.IsNullOrEmpty(mesajGirisBasarisiz))
        {              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGirisBasarisiz
              </div>
             
        }       @if (!string.IsNullOrEmpty(mesajKullaniciAdiveyaParolaBos))
        {              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajKullaniciAdiveyaParolaBos
              </div>
             
        }       @if (!string.IsNullOrEmpty(mesajGuvenlikKoduHatasi))
        {              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGuvenlikKoduHatasi
              </div>
        }

        @if (!string.IsNullOrEmpty(mesajHesapPasif))
        {              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajHesapPasif
              </div>
            
        }
        <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-blue">
                                                    <span class="widget-caption"> <strong><i class="fa fa-lock"></i> Oturum Aç</strong></span>
                                                </div>
                                                <div class="widget-body">
                                                    <div id="registration-form">
                                                        <form role="form" method="post" action="#">
                                                            <div class="form-title">
                                                               Kullanıcı Bilgileri
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="txtEposta" name="txtEposta" value="@ePosta"  placeholder="@Resources.Resource.lblEposta" required autofocus="true" />
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input type="password" class="form-control" placeholder="@Resources.Resource.lblParola" id="txtParola" name="txtParola" required />
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                           
                                                            
                                                            <div class="form-group">
                                                                 <div class="g-recaptcha" data-sitekey="6LdM5hwTAAAAAG7LVuSifeauuY5FR3vOXrXtZcz9" data-size="normal"></div>
                                                                 <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=tr"></script>
                                                                
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-block">Oturum Aç</button>
                                                            <a href="@Href("~/Hesap/ParolamiUnuttum")" class="btn btn-primary btn-block">@Resources.Resource.lblParolamiUnuttum</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
     </div>
</div>
