@{
  
   var dil="tr";
   
   if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }

    
    var ePosta="";
    var hataVar=false;
    var mesajEpostaKayitliDegil="";
    var mesajEpostaBos="";
    var islemTamam=false;
    Layout = "~/Shared/_LayoutYeniMisafir.cshtml";
   if (IsPost)
     {
                  
      
        var db=Database.Open("fb1ae");
        
        ePosta=Request.Form["txtEPosta"];
       

         if (string.IsNullOrEmpty(ePosta))
        {
            hataVar=true;
            mesajEpostaBos="E-posta adresinizi girmediniz";
        }
       
        if (db.QueryValue("SELECT COUNT(*) FROM Profiles WHERE ePosta=@0",ePosta)==0)
        {
            hataVar=true;
            mesajEpostaBos="Girdiğiniz e-posta adresi sistemde kayıtlı değil";
        }

        if (hataVar==false)
        {
            var token=WebSecurity.GeneratePasswordResetToken(ePosta);

            Random r=new Random();
     
            var geciciParola=r.Next(1000,1000000);
       

            WebMail.Send(ePosta,"BulutDers Geçici Parola","<strong>BulutDers Geçici Parolanız:</strong>" + geciciParola.ToString(),"BulutDers Destek <destek@bulutders.com>",isBodyHtml:true);
            WebSecurity.ResetPassword(token,geciciParola.ToString());
            islemTamam=true;

        }
     }
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
       
             @if (!string.IsNullOrEmpty(mesajEpostaBos))
        {
             <p class="alert alert-danger">@mesajEpostaBos</p>
        }

        @if (!string.IsNullOrEmpty(mesajEpostaKayitliDegil))
        {
            <p class="alert alert-danger">@mesajEpostaKayitliDegil</p>
        }
        @if (islemTamam)
          {
             <p class="alert alert-success">Yeni parolanız girdiğiniz e-posta adresine başarıyla gönderildi</p>  
          }
         <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-blue">
                                                    <span class="widget-caption"> <strong><i class="fa fa-lock"></i> @Resources.Resource.lblParolamiUnuttum</strong></span>
                                                </div>
                                                <div class="widget-body">
                                                    <div id="registration-form">
                                                        <form role="form" method="post" action="#">
                                                            <div class="form-title">
                                                               Oturum Açma Bilgileri
                                                            </div>
                                                           <div class="form-group">
                                                               @Resources.Resource.msgEPostaGirGondereBas
                                                               </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control"  id="txtEposta" name="txtEposta" type="email" autofocus="true" required placeholder="E-posta..." value="@ePosta" />
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                                            </div>
                                                           
                                                            <button type="submit" class="btn btn-primary btn-block">@Resources.Resource.lblGonder</button>
                                                      </form>
                                                    </div>
                                                </div>
                                            </div>
     </div>
</div>
