@{
  
    var ad="";
    var soyad="";
    var ePosta="";     
    var parola="";
    var reParola="";
    bool hataVar=false;   
    var mesajEPostaKayitli="";
    var mesajGuvenlikKoduHatasi="";
    var mesajGirilenParolalarUyusmadi="";
    var mesajGerekliAlanlarBosBirakildi="";
    var returnUrl=Request.QueryString["returnUrl"];
    
   var dil="tr";
   
   if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }

    Layout = "~/Shared/_LayoutYeniMisafir.cshtml";

    var db=Database.Open("fb1ae");
    
    
    if (IsPost)
    {
       
        ad=Request.Form["txtAd"].Trim();
        soyad=Request.Form["txtSoyad"].Trim();
        ePosta=Request.Form["txtEPosta"].Trim();
        parola=Request.Form["txtParola"].Trim();
        reParola=Request["txtReParola"].Trim();

        if (string.IsNullOrEmpty(ad) || string.IsNullOrEmpty(soyad) || string.IsNullOrEmpty(ePosta) || string.IsNullOrEmpty(parola))         {
             hataVar=true;
             mesajGerekliAlanlarBosBirakildi="Ad,soyad,eposta veya parola alanları boş bırakılamaz";
         }
        
        if (db.QueryValue("SELECT COUNT(*) FROM Profiles WHERE ePosta=@0",ePosta)!=0)
        {
          mesajEPostaKayitli= Resources.Resource.msgGirilenEpostaDahaOnceKayitEdilmis;
          hataVar=true;
        }

        if (!ReCaptcha.Validate("6LdM5hwTAAAAAAAjS6NQWI7uVXlCddNNhSJ__Slu")) {
            hataVar=true;
            mesajGuvenlikKoduHatasi="Güvenlik kodu hatalı girildi";

         }

         if (parola!=reParola)
         {
             hataVar=true;
             mesajGirilenParolalarUyusmadi="Girilen parolalar birbiriyle uyuşmadı";
         }
         

        if (hataVar==false)
        {

            db.Execute("INSERT INTO Profiles(ePosta,Ad,Soyad,Dil) VALUES (@0,@1,@2,@3)",ePosta,ad,soyad,dil);

            var token= WebSecurity.CreateAccount(ePosta,parola,false);
      
            Roles.AddUserToRole(ePosta,"Ogrenci");
            
            WebSecurity.Login(ePosta,parola);
            var queryEpostaMesaji=db.QuerySingle("SELECT * FROM epostamesajlari WHERE ID=1");

            var epostaMesaji=string.Format(queryEpostaMesaji.mesaj_tr,ad + " " + soyad);

            SendGridServisi.MailGonder(ePosta,"BulutDers'e Hoşgeldiniz",epostaMesaji);

            db.Close();
           
           
            if (string.IsNullOrEmpty(returnUrl))
            {
            Response.Redirect("~/Panel");
            }
            else
            {
                Response.Redirect("~/" + returnUrl);
            }
        }


       }
       
    db.Close();
}

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
           @if (!string.IsNullOrEmpty(mesajEPostaKayitli))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajEPostaKayitli
              </div>
            }

           @if (!string.IsNullOrEmpty(mesajGerekliAlanlarBosBirakildi))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGerekliAlanlarBosBirakildi
              </div>
            }

         @if (!string.IsNullOrEmpty(mesajGirilenParolalarUyusmadi))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGirilenParolalarUyusmadi
              </div>
            }

         @if (!string.IsNullOrEmpty(mesajGuvenlikKoduHatasi))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGuvenlikKoduHatasi
              </div>
            }
         <div class="widget">
                                                <div class="widget-header bordered-bottom bordered-blue">
                                                    <span class="widget-caption"><strong>Yeni Öğrenci Hesabı</strong></span>
                                                </div>
                                                <div class="widget-body">
                                                    <div id="registration-form">
                                                        <form method="post" action="#">
                                                            <div class="form-title">
                                                               Kullanıcı Bilgileri
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="txtEposta" name="txtEposta" value="@ePosta" placeholder="E-Posta Adresi" required autofocus="true">
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control" id="txtParola" name="txtParola" type="password" required placeholder="@Resources.Resource.lblParola" />
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control" id="txtReParola" name="txtReParola" type="password" required placeholder="@Resources.Resource.lblParolaTekrar" />
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-title">
                                                                Kişisel Bilgiler
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <span class="input-icon icon-right">
                                                                            <input class="form-control" id="txtAd" name="txtAd" type="text" value="@ad" required placeholder="@Resources.Resource.lblAd" />
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="input-icon icon-right">
                                                                            <input class="form-control" id="txtSoyad" name="txtSoyad" type="text" value="@soyad" required placeholder="@Resources.Resource.lblSoyad"/>
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                           
                                                            
                                                            <div class="form-group">
                                                                @ReCaptcha.GetHtml("6LdM5hwTAAAAAG7LVuSifeauuY5FR3vOXrXtZcz9", theme: "white",language:"tr")
                                                            </div>
                                                            <button type="submit" class="btn btn-blue">Hesabı Oluştur</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
      </div>
</div>
