@{
  
    var ad="";
    var soyad="";
    var ePosta="";     
    var parola="";
    var reParola=""; 
    var dogrulamaKodu="";
    
    bool hataVar=false;   
    var mesajEPostaKayitli="";
    var mesajDogrulamaKoduHatali="";
    var mesajGuvenlikKoduHatali="";
    var mesajGirilenParolalarUyusmadi="";
    var mesajGerekliAlanlarBosBirakildi="";
    var returnUrl=Request.QueryString["returnUrl"];
    var db=Database.Open("fb1ae");
   
   var dil="tr";
   
   if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }
     Layout = "~/Shared/_LayoutYeniMisafir.cshtml";

    if (IsPost)
    {
       
        ad=Request.Form["txtAd"].Trim();
        soyad=Request.Form["txtSoyad"].Trim();
        ePosta=Request.Form["txtEPosta"].Trim();
        parola=Request.Form["txtParola"].Trim();
        reParola=Request["txtReParola"].Trim();
        dogrulamaKodu=Request.Form["txtDogrulamaKodu"].Trim();

        if (string.IsNullOrEmpty(ad) || string.IsNullOrEmpty(soyad) || string.IsNullOrEmpty(ePosta) || string.IsNullOrEmpty(parola) || string.IsNullOrEmpty(dogrulamaKodu))         {
             hataVar=true;
             mesajGerekliAlanlarBosBirakildi="Ad,soyad,eposta,parola veya abonelik kodu alanları boş bırakılamaz";
         }
        
        if (db.QueryValue("SELECT COUNT(*) FROM Profiles WHERE ePosta=@0",ePosta)!=0)
        {
          mesajEPostaKayitli= Resources.Resource.msgGirilenEpostaDahaOnceKayitEdilmis;
          hataVar=true;
        }

      
        if (hataVar==false)
        {
            var queryDogrulamaKodu=db.QueryValue("SELECT count(*) FROM Abonelik WHERE Abonelik.DogrulamaKodu=@0 AND Kullanildi=0",dogrulamaKodu);
            if (queryDogrulamaKodu==0)
                 {
                     hataVar=true;
                     mesajDogrulamaKoduHatali="Hata: Lütfen Abonelik Kodunuzu Kontrol Ediniz.";
                 }
  
         }

         if (hataVar==false)
         {
              if (!ReCaptcha.Validate("6LdM5hwTAAAAAAAjS6NQWI7uVXlCddNNhSJ__Slu")) 
                  {
                    hataVar=true;
                    mesajGuvenlikKoduHatali="Güvenlik kodu hatalı girildi";
                  }
         }

         if (parola!=reParola)
         {
             hataVar=true;
             mesajGirilenParolalarUyusmadi="Girilen parolalar birbiriyle uyuşmadı";
         }

        if (hataVar==false)
        {
            
            db.Execute("INSERT INTO Profiles(ePosta,Ad,Soyad,Dil) VALUES (@0,@1,@2,@3)",ePosta,ad,soyad,dil);
       
            var token= WebSecurity.CreateAccount(ePosta,parola,false);
      
            Roles.AddUserToRole(ePosta,"Ogretici");

            WebSecurity.Login(ePosta,parola);
           
            var queryIslem=db.QueryValue("exec dbo.Genel_AbonelikEkle @0,@1",ePosta,dogrulamaKodu);
         

            db.Close();

            if (string.IsNullOrEmpty(returnUrl))
            {
            Response.Redirect("~/Panel");
            }
            else
            {
                Response.Redirect("~/" + returnUrl);
            }
        }


       }
       
    db.Close();
}
<!DOCTYPE html>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        @if (!string.IsNullOrEmpty(mesajDogrulamaKoduHatali))
                    {
                      <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajDogrulamaKoduHatali
                      </div>
                    }
         @if (!string.IsNullOrEmpty(mesajGerekliAlanlarBosBirakildi))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGerekliAlanlarBosBirakildi
              </div>
            }

         @if (!string.IsNullOrEmpty(mesajGirilenParolalarUyusmadi))
            {
              <div class="alert alert-danger fade in">
                <button class="close" data-dismiss="alert">×</button>
                <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGirilenParolalarUyusmadi
              </div>
            }                  
                    @if (!string.IsNullOrEmpty(mesajEPostaKayitli))
                    {
                      <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajEPostaKayitli
                      </div>
                    }

                    @if (!string.IsNullOrEmpty(mesajGuvenlikKoduHatali))
                    {
                      <div class="alert alert-danger fade in">
                        <button class="close" data-dismiss="alert">×</button>
                        <i class="fa-fw fa fa-times"></i><strong>@Resources.Resource.lblHata</strong> @mesajGuvenlikKoduHatali
                      </div>
                    }


                    <div class="widget">
                           <div class="widget-header bordered-bottom bordered-blue">
                                                    <span class="widget-caption"><strong>@Resources.Resource.lblYeniEgitmenHesabi</strong></span>
                                                </div>
                           <div class="widget-body">
                                                    <div id="registration-form">
                                                        <form  method="post" action="#">
                                                            <div class="form-title">
                                                               Kullanıcı Bilgileri
                                                            </div>
                                                           
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control"  id="txtEposta" name="txtEposta" type="email" required autofocus="true" value="@ePosta" placeholder="@Resources.Resource.lblEposta" />
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control" id="txtParola" name="txtParola" type="password" placeholder="@Resources.Resource.lblParola" required />
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-icon icon-right">
                                                                    <input class="form-control" id="txtReParola" name="txtReParola" type="password" placeholder="@Resources.Resource.lblParolaTekrar" required/>
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                                            </div>
                                                            <div class="form-title">
                                                                Kişisel Bilgiler
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        <span class="input-icon icon-right">
                                                                            <input class="form-control" id="txtAd" name="txtAd" type="text" value="@ad" placeholder="@Resources.Resource.lblAd" required />
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <span class="input-icon icon-right">
                                                                            <input class="form-control" id="txtSoyad" name="txtSoyad" type="text" value="@soyad" placeholder="@Resources.Resource.lblSoyad" required/>
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <span class="input-icon icon-right">
                                                                            <input class="form-control" id="txtDogrulamaKodu" name="txtDogrulamaKodu" type="text" value="@dogrulamaKodu" placeholder="Abonelik Kodu" required/>
                                                                            <i class="fa fa-key"></i>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                           
                                                            
                                                            <div class="form-group">
                                                                @ReCaptcha.GetHtml("6LdM5hwTAAAAAG7LVuSifeauuY5FR3vOXrXtZcz9", theme: "white",language:"tr")
                                                            </div>
                                                            <button type="submit" class="btn btn-primary">@Resources.Resource.lblHesabiOlustur</button>
                                                        </form>
                                                    </div>
                                                </div>
                    </div>
        </div>
</div>