@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Dosya/BenimlePaylasilan");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  

    var db=Database.Open("fb1ae");

    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
   
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }

    var queryDosyalar=db.Query("SELECT * FROM Dosya WHERE DosyaID IN (SELECT DosyaID FROM DosyaIzinKisi WHERE UserID=@0) AND Silindi=0 AND Dosya.YuklenmeTuru<>2 ORDER BY EklenmeTarihi DESC",WebSecurity.CurrentUserId);
    db.Close();
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblPaylasiminizaAcikDokumanlar</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblPaylasiminizaAcikDokumanlar</h1>
}

<div class="row">


   <div class="col-lg-12">
       
               
       <table id="lstDosyalar" class="table table-hover">
        <thead>
            <tr>
                <th>@Resources.Resource.lblAciklama</th>
                <th>@Resources.Resource.lblDosyaAdi</th>
                <th> @Resources.Resource.lblBoyut</th>
                <th></th>
                
            </tr>
        </thead>
         <tbody>
            @foreach (var dosya in queryDosyalar)
            {
                
                <tr>
                    <td><i class="fa fa-file-text-o fa-2x text-success"></i> <a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID"> @dosya.Aciklama </a> </td>
                    <td><a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID"> @dosya.DosyaAdi</a></td>
                    <td>

                    @Genel.StorageLabel((double)dosya.Boyut)
                    </td>
                    
                    <td>
                        <a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblKarşıdanYukle"><i class="fa fa-cloud-download"></i></a>
                        
                    </td>
                   
                </tr>
            }
         </tbody>
    </table>

        </div>

  
    </div>

@section js
{

    <script src="@Href("~/Shared/Plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/Shared/Plugins/datatables/dataTables.bootstrap.js")"></script>
    <script src="@Href(string.Format("~/Shared/Javascript/Dil/{0}/Dosya/BenimlePaylasilan.js",dil))"></script>
    <script src="@Href("~/Shared/Javascript/Dosya/BenimlePaylasilan.min.js")"></script>
    
}