@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Dosya");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  
 
   var gorunum=Request.QueryString["Gorunum"];

   if (string.IsNullOrEmpty(gorunum))
      {
          gorunum="-1";
      }

   if (!Roles.IsUserInRole("Ogretici"))
    {
        Response.Redirect("~/Shared/Hata?Kod=kullaniciegitmendegil");
        Response.End();
    }

    var db=Database.Open("fb1ae");
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles INNER JOIN UyelikTurleri ON Profiles.UyelikTuru=UyelikTurleri.UyelikID WHERE Profiles.userID=@0",WebSecurity.CurrentUserId);
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }

    var queryDosyalar=db.Query("SELECT * FROM Dosya WHERE userID=@0 AND Silindi=0 AND Dosya.YuklenmeTuru<>2 AND Konum=@1 ORDER BY EklenmeTarihi DESC",WebSecurity.CurrentUserId,gorunum);
    db.Close();
  
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblDosyalar</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblDosyalar</h1>
}
<div class="row">
    
   <div class="col-lg-12">
          
       @if (Roles.IsUserInRole("Ogretici"))
       {
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDosyaEkle">
            <i class="fa fa-cloud-upload"></i> @Resources.Resource.lblYeniBirDokumanEkle
        </button>

       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalKlasorEkle">
            <i class="fa fa-plus-circle"></i> Yeni Klasör
        </button>
       }
           <br><br>    
        <table id="lstDosyalar" class="table table-hover">
        <thead>
            <tr>
               <th></th>
                <th>@Resources.Resource.lblAd</th>
                <th> @Resources.Resource.lblBoyut</th>
                <th> @Resources.Resource.lblEklenmeTarihi</th>
                <th></th>
                
            </tr>
        </thead>
         <tbody>
 
             <tr>
                 <td></td>
                <td>
                    <a href="#" class="text-success">
                    <span class="fa-stack">
                        <i class="fa fa-folder-o fa-stack-2x"></i>
                        <i class="fa fa-recycle fa-stack-1x"></i>
                    </span> Geri Dönüşüm Kutusu
                   </a>
                </td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>

             <tr>
                 <td></td>
                <td>
                    <a href="#" class="text-success">
                    <span class="fa-stack">
                        <i class="fa fa-folder-o fa-stack-2x"></i>
                        <i class="fa fa-share fa-stack-1x"></i>
                    </span> Benimle Paylaşılmış Dosyalar
                   </a>
                </td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>

             <tr>
                 <td></td>
                <td>
                    <a href="#" class="text-success">
                    <span class="fa-stack">
                        <i class="fa fa-folder-o fa-stack-2x"></i>
                        <i class="fa fa-clock-o fa-stack-1x"></i>
                    </span> Ödevlerle Gönderilmiş Dosyalar
                   </a>
                </td>
                 <td></td>
                 <td></td>
                 <td></td>
             </tr>

            @foreach (var dosya in queryDosyalar)
            {
                
                <tr>
                    <td>
                       <label>
                       <input type="checkbox" class="colored-primary">
                       <span class="text"></span>
                      </label>                    </td>
                    <td><a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID">@HelperDosya.DosyaIkonu(dosya.DosyaAdi) @dosya.DosyaAdi</a></td>
                    <td>

                    @Genel.StorageLabel((double)dosya.Boyut)
                    </td>
                    <td>@Genel.DateLabel(dosya.EklenmeTarihi,dil)</td>
                    <td>
                        <a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblKarşıdanYukle"><i class="fa fa-cloud-download"></i></a>
                        <a href="@Href("~/Dosya/Ayarlar?DosyaID=")@dosya.DosyaID" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblDosyaAyarlari"><i class="fa fa-cog"></i></a>
                        <a href="@Href("~/Dosya/Indirenler?DosyaID=")@dosya.DosyaID" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblDosyayiYukleyenKullanicilar"><i class="fa fa-arrow-circle-o-down"></i></a>
                        <button class="btn btn-danger btnDosyaSil btn-sm" data-DosyaID="@dosya.DosyaID" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblDosyayiSil"><i class="fa fa-remove"></i></button>

                    </td>
                   
                </tr>
            }
         </tbody>
    </table>

        </div>
    
  
    </div>
@if (Roles.IsUserInRole("Ogretici"))
       {
<div class="modal" id="modalDosyaEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.lblYeniBirDokumanEkle</h4>
      </div>
      <div class="modal-body">
        

         <label>@Resources.Resource.lblAciklama</label>
         <textarea class="form-control" name="txtAciklama" id="txtAciklama" placeholder="@Resources.Resource.msgEklenecekDokumanileIlgiliKisaAciklamaGir" required></textarea>
         <label>@Resources.Resource.lblBilgisayardaDosyaSec</label>
         <input type="file" class="form-control" id="txtDosya" required name="file" placeholder="@Resources.Resource.lblDosyaSec">
               
        
           
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnDosyaEkle">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>
    }

@section js
{

    <script src="@Href(string.Format("~/Shared/Javascript/Dil/{0}/Dosya/Liste.js",dil))"></script>
    <script src="@Href("~/Shared/Javascript/Dosya/Liste.min.js")"></script>
   
}