@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Dosya");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  
 
   var konum=Request.QueryString["Konum"];

   if (string.IsNullOrEmpty(konum))
      {
          konum="-1";
      }

   if (!Roles.IsUserInRole("Ogretici"))
    {
        Response.Redirect("~/Shared/Hata?Kod=kullaniciegitmendegil");
        Response.End();
    }

    var db=Database.Open("fb1ae");
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles INNER JOIN UyelikTurleri ON Profiles.UyelikTuru=UyelikTurleri.UyelikID WHERE Profiles.userID=@0",WebSecurity.CurrentUserId);
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }

    var queryDosyalar=db.Query("SELECT * FROM Dosya WHERE userID=@0 AND Silindi=0 AND Dosya.YuklenmeTuru<>2 AND Konum=@1 ORDER BY EklenmeTarihi DESC",WebSecurity.CurrentUserId,konum);
    var queryKlasorler=db.Query("SELECT * FROM Klasor WHERE Silindi=0 AND Konum=@0",konum);
    var queryUstKlasor=db.QuerySingle("SELECT * FROM Klasor WHERE KlasorID=@0",konum);
    db.Close();
  
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblDosyalar</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblDosyalar</h1>
}
<div class="row">
    <span id="spnKonum" data-Konum="@konum"></span>
   <div class="col-lg-12">
          
       @if (Roles.IsUserInRole("Ogretici"))
       {
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalDosyaEkle">
            <i class="fa fa-cloud-upload"></i> @Resources.Resource.lblYeniBirDokumanEkle
        </button>

       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalKlasorEkle">
            <i class="fa fa-plus-circle"></i> Yeni Klasör
        </button>

        <button type="button" class="btn btn-primary btn-lg" id="btnCokluSil">
            <i class="fa fa-times"></i> Sil
        </button>

       }
           <br><br>    
        <table id="lstDosyalar" class="table table-hover">
        <thead>
            <tr>
               <th></th>
                <th>@Resources.Resource.lblAd</th> 
                <th></th>
                <th> @Resources.Resource.lblBoyut</th> 
               
                <th> @Resources.Resource.lblEklenmeTarihi</th>
               
                
            </tr>
        </thead>
         <tbody>
 
            @if (queryUstKlasor!=null)
            {
                <tr>
                 <td class="col-md-1 text-center">
                     
                 </td>
                 <td>
                     @if (queryUstKlasor.Konum==-1)
                     {
                        <a href="@Href("~/Dosya/Liste")"><i class="fa fa-arrow-circle-up fa-2x"></i> Bir Üst Konum</a> 
                     }
                     else
                     {
                        <a href="@Href("~/Dosya/Liste?Konum=" + queryUstKlasor.Konum)"><i class="fa fa-arrow-circle-up fa-2x"></i> Bir Üst Konum</a>
                    }
                 </td>
                 <td>--</td>
                 <td></td>
                 <td></td>

             </tr>
            }

            @foreach (var klasor in queryKlasorler)
            {
             <tr class="KlasorSatiri">
                 <td class="col-md-1 text-center">
                     <label>
                       <input type="checkbox" data-OgeID="k_@klasor.KlasorID" class="colored-primary chkBoxOge">
                       <span class="text"></span>
                     </label>
                 </td>
                 <td>
                    <a href="@Href("~/Dosya/Liste?Konum=" + klasor.KlasorID)"><i class="fa fa-folder fa-2x"></i> @klasor.KlasorAdi</a>
                 </td>
                 <td>
                        
                      <div class="dropdown">

                        
                                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-xs">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                  </button>
                                  
                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="#" class="btnOgeSil" data-OgeID="k_@klasor.KlasorID"><i class="fa fa-remove"></i> @Resources.Resource.lblDosyayiSil</a></li>
                                     
                                  </ul>
                            </div>
                 
                 </td>
                 <td>--</td>
                 
            
                 <td>@Genel.DateLabel(klasor.OlusturmaTarihi,dil)</td>
                 

             </tr>
            
            }

            @foreach (var dosya in queryDosyalar)
            {
                
                <tr class="DosyaSatiri">
                    <td class="col-md-1 text-center">
                       <label>
                       <input type="checkbox" class="colored-primary chkBoxOge"  data-OgeID="d_@dosya.DosyaID">
                       <span class="text"></span>
                      </label>                    </td>
                    <td><a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID">@HelperDosya.DosyaIkonu(dosya.DosyaAdi) @dosya.DosyaAdi</a></td>
                    
                      <td>

                         <div class="dropdown">

                        
                                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-xs">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                  </button>
                                  
                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                      <li><a href="@Href("~/Dosya/Indir?DosyaID=")@dosya.DosyaID"><i class="fa fa-cloud-download"></i> @Resources.Resource.lblKarşıdanYukle</a></li>
                                      <li><a href="@Href("~/Dosya/Ayarlar?DosyaID=")@dosya.DosyaID"><i class="fa fa-cog"></i> @Resources.Resource.lblDosyaAyarlari</a></li>
                                      <li><a href="@Href("~/Dosya/Indirenler?DosyaID=")@dosya.DosyaID"><i class="fa fa-arrow-circle-o-down"></i> @Resources.Resource.lblDosyayiYukleyenKullanicilar</a></li>
                                      <li><a href="#" class="btnOgeSil" data-OgeID="d_@dosya.DosyaID"><i class="fa fa-remove"></i> @Resources.Resource.lblDosyayiSil</a></li>
                                  </ul>
                            </div>

                    </td>
                    
                    <td>

                    @Genel.StorageLabel((double)dosya.Boyut)
                    </td>

                  

                    <td>@Genel.DateLabel(dosya.EklenmeTarihi,dil)</td>
                    
                   
                </tr>
            }
         </tbody>
    </table>

        </div>
    
  
    </div>
@if (Roles.IsUserInRole("Ogretici"))
       {
<div class="modal" id="modalDosyaEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.lblYeniBirDokumanEkle</h4>
      </div>
      <div class="modal-body">
        

         <label>@Resources.Resource.lblAciklama</label>
         <textarea class="form-control" name="txtAciklama" id="txtAciklama" placeholder="@Resources.Resource.msgEklenecekDokumanileIlgiliKisaAciklamaGir" required></textarea>
         <label>@Resources.Resource.lblBilgisayardaDosyaSec</label>
         <input type="file" class="form-control" id="txtDosya" required name="file" placeholder="@Resources.Resource.lblDosyaSec">
               
        
           
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnDosyaEkle">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modalKlasorEkle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Klasör Oluştur</h4>
      </div>
      <div class="modal-body">
        

         <label>Klasör Adı:</label>
         <input type="text" class="form-control" name="txtKlasorAdi" id="txtKlasorAdi" placeholder="Oluşturulmasını istediğiniz klasörünü adını bu alan girin..." required />
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnKlasorOlustur">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>

    }

@section js
{

    <script src="@Href(string.Format("~/Shared/Javascript/Dil/{0}/Dosya/Liste.js",dil))"></script>
    <script src="@Href("~/Shared/Javascript/Dosya/Liste.min.js")"></script>
   
}