@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Odev/VerdigimOdevler");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  
     
    var roller=Roles.GetRolesForUser(WebSecurity.CurrentUserName);
    var db=Database.Open("fb1ae");
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
   
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }
    
  
    IEnumerable<dynamic> queryOdevler=null;
    IEnumerable<dynamic> queryOdevGonderileri=null;

    if (roller.Contains("Ogretici")) {
  
        queryOdevler=db.Query("SELECT * FROM Odev INNER JOIN Ders ON Odev.DersID=Ders.DersID WHERE Odev.Silindi=0 AND Ders.UserID=@0 AND Ders.Arsivlendi=0 AND Ders.Silindi=0 ORDER BY Odev.EklenmeTarihi DESC",WebSecurity.CurrentUserId);
        queryOdevGonderileri=db.Query("SELECT * FROM OdevGonderisi INNER JOIN Odev ON OdevGonderisi.OdevID=Odev.OdevID WHERE OdevGonderisi.Durum=1 AND Odev.DersID IN (SELECT DersID FROM Ders WHERE UserID=@0 AND Arsivlendi=0 AND Silindi=0) ORDER BY OdevGonderisi.OdevGonderiID DESC",WebSecurity.CurrentUserId);
    }
    else if (roller.Contains("Ogrenci"))
    {
        queryOdevler=db.Query("SELECT * FROM Odev INNER JOIN Ders ON Odev.DersID=Ders.DersID WHERE Odev.Silindi=0 AND Ders.Arsivlendi=0 AND Ders.Silindi=0 AND Ders.DersID IN (SELECT DersID FROM DersTakip WHERE UserID=@0 AND Durum=2) AND (Odev.OdevID NOT IN (SELECT OdevID FROM OdevGonderisi WHERE UserID=@0)) AND (Odev.OdevGonderimi<>2 OR Odev.SonTeslimTarihi>=@1) AND Odev.OdevGonderimi<>2 ORDER BY Odev.EklenmeTarihi DESC",WebSecurity.CurrentUserId,DateTime.Now);
        //queryOdevler=db.Query("SELECT * FROM Odev WHERE Odev.Silindi=0 AND (Odev.DersID IN (SELECT DersID FROM DersTakip WHERE UserID=@0 AND Durum=2)) AND (Odev.OdevID NOT IN (SELECT OdevID FROM OdevGonderisi WHERE UserID=@0)) AND (Odev.OdevGonderimi<>2 OR Odev.SonTeslimTarihi>=@1) AND Odev.OdevGonderimi<>2 ORDER BY Odev.EklenmeTarihi DESC",WebSecurity.CurrentUserId,DateTime.Now);
    }
    
    

    db.Close();
}
@if (roller.Contains("Ogretici"))
{
    @section css
    {
      <link rel="stylesheet" href="@Href("~/Shared/Plugins/daterangepicker/daterangepicker-bs3.css")">   
    }
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblOdevler</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblOdevler</h1>
}

<div class="row">

   <div class="col-lg-12">
       @if (roller.Contains("Ogretici")) {
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalOdevGonderileri">
         <i class="fa fa-user"></i> @Resources.Resource.lblOdeviniGonderenler
        </button>
       <br>
       }
       <br>
             <div class="widget">
               <div class="widget-header bordered-top bordered-blue ">
               </div>   
                   <div class="widget-body">
       <table id="lstOdevler" class="table table-hover">
        <thead>
            <tr>
                <th>@Resources.Resource.lblOdevBasligi</th>
                <th>@Resources.Resource.lblIslemler</th>
                <th>@Resources.Resource.lblDers</th>
                @if (roller.Contains("Ogrenci"))
                {
                     <th>@Resources.Resource.lblOdevGonderildi</th>
                }
               
                @if (roller.Contains("Ogretici"))
                {
                    <th>@Resources.Resource.lblOdevGonderimi</th>
                }
                
               
            </tr>
        </thead>
         <tbody>
            @foreach (var odev in queryOdevler)
            {
                <tr>
                    <td><a href="@Href("~/Odev/Goster?OdevID=")@odev.OdevID" title="Gözat"><i class="fa fa-tasks fa-2x text-success"></i> @odev.Baslik </a></td>
                   
                       <td> 
                            <div class="dropdown">

                        
                                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-xs">
                                    <i class="fa fa-cog"></i>
                                    <span class="caret"></span>
                                  </button>
                                  
                                  <ul class="dropdown-menu" aria-labelledby="dLabel">
                                        <li> <a href="@Href("~/Odev/Goster?OdevID=")@odev.OdevID"><i class="fa fa-search-plus"></i> @Resources.Resource.lblOdeveGozat</a></li>
                                      
                                        @if (roller.Contains("Ogretici")){
                                            <li><a href="@Href("~/Odev/Ayarlar?OdevID=")@odev.OdevID"><i class="fa fa-cog"></i> @Resources.Resource.lblOdevAyarlari</a></li>
                                            <li><a href="@Href("~/Odev/OdevGonderileri?OdevID=")@odev.OdevID"><i class="fa fa-user"></i> @Resources.Resource.lblOdeviniGonderenler</a></li>
                                            <li><a href="#" class="btnOdevSil" data-OdevID="@odev.OdevID"><i class="fa fa-remove"></i> @Resources.Resource.lblOdeviSil</a></li>
                                        }
                                        else if (roller.Contains("Ogrenci"))
                                        {
                                        <li> <a href="@Href("~/Odev/Goster?OdevID=")@odev.OdevID"><i class="fa fa-check"></i> @Resources.Resource.lblOdeviGonder</a></li>    
                                        }
                                        
                                  </ul>
                            </div>
                
                    </td>
                    <td><a href="@Href("~/Ders?DersID=")@odev.DersID"> @odev.DersAdi </a> </td>
                    @if (roller.Contains("Ogrenci"))
                    {
                        var queryOdevGonderisi=db.QuerySingle("SELECT * FROM OdevGonderisi WHERE Silindi=0 AND OdevID=@0 AND UserID=@1",odev.OdevID,WebSecurity.CurrentUserId);
                        <td>
                        @if (queryOdevGonderisi!=null)
                         {
                             <i class="fa fa-check-circle fa-2x text-success" title="@Resources.Resource.lblOdevGonderildi"></i>
                         }
                         else
                         {
                             <i class="fa fa-times-circle fa-2x text-danger" title="@Resources.Resource.lblOdevGonderilmedi"></i>
                         }
                        </td>
                    }

                    @if (roller.Contains("Ogretici"))
                    {
                        <td>  
                            <label>
                                <input class="checkbox-slider colored-primary checkBoxOdevGonderimiAcKapa" type="checkbox" title="@Resources.Resource.lblOdevGonderimi" data-OdevID="@odev.OdevID" @if (odev.OdevGonderimi==1) {<text>checked</text>} >
                                <span class="text"></span>
                            </label>
                          </td>
                    }
               </tr>
            }
         </tbody>
    </table>
                       </div>
                   
            </div>
        </div>

  
    </div>


 @if (roller.Contains("Ogretici")) {
<div class="modal" id="modalOdevGonderileri" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.lblOdeviniGonderenler</h4>
      </div>
      <div class="modal-body">
        <div style="height: 300px;overflow: auto;">
                                            <table class="table table-hover">
                                            @foreach (var odevgonderisi in queryOdevGonderileri)
                                            {
                                                <tr>
                                                    <td>@HelperProfil.KucukKunye(odevgonderisi.UserID,dil)</td>
                                                    <td>  
                                                       <a href="@Href("~/Odev/OdevGonderisi?OdevGonderiID=" + odevgonderisi.OdevGonderiID)" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblDetaylar"><i class="fa fa-search-plus"></i></a>
                                                       <button class="btn btn-xs btn-primary btnOdevGonderisiIncelendi" data-OdevGonderiID="@odevgonderisi.OdevGonderiID" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblIncelendi"><i class="fa fa-check-square-o"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                                </table><hr>
                                            
                                           
                                        </div><!--Widget Body-->
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblKapat</button>
        
      </div>
    </div>
  </div>
</div>
}

   
@section js
{
    <script src="@Href(string.Format("~/Odev/Js/Odev.Labels.{0}.js",dil))"></script>
    <script src="@Href("~/Odev/Js/Liste.min.js")"></script>  
}