@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Odev/VerdigimOdevler");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";  

    if (!Roles.IsUserInRole("Ogretici"))
    {
        Response.Redirect("~/Shared/Hata");
        Response.End();
    }

    var db=Database.Open("fb1ae");
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
   
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }
    
    var queryDerslerim=db.Query("SELECT * FROM Ders WHERE UserID=@0 AND Arsivlendi=0",WebSecurity.CurrentUserId);
    var queryOdevler=db.Query("SELECT * FROM Odev INNER JOIN Ders ON Odev.DersID=Ders.DersID WHERE Odev.Silindi=0 AND Ders.UserID=@0 ORDER BY Odev.EklenmeTarihi DESC",WebSecurity.CurrentUserId);

    db.Close();
}

@section css
{
 <link rel="stylesheet" href="@Href("~/Shared/Plugins/daterangepicker/daterangepicker-bs3.css")">   
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblVerilenOdevler</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblVerilenOdevler</h1>
}

<div class="row">

   <div class="col-lg-12">
       <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalYeniOdevVer">
         <i class="fa fa-plus-circle"></i> @Resources.Resource.lblYeniBirOdevVer
        </button>
       <br><br>
               
       <table id="lstVerdigimOdevler" class="table table-hover">
        <thead>
            <tr>
                <th>@Resources.Resource.lblDers</th>
                <th>@Resources.Resource.lblOdevBasligi</th>
                
                <th></th>
               
            </tr>
        </thead>
         <tbody>
            @foreach (var odev in queryOdevler)
            {
                <tr>
                    <td><i class="fa fa-clock-o fa-2x text-success"></i><a href="@Href("~/Ders?DersID=")@odev.DersID"> @odev.DersAdi </a> </td>
                    <td><a href="@Href("~/Odev/Goster?OdevID=")@odev.OdevID" title="Gözat"> @odev.Baslik </a></td>
                       <td> 
                        <a href="@Href("~/Odev/Goster?OdevID=")@odev.OdevID" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdeveGozat"><i class="fa fa-search-plus"></i> </a>
                        <a href="@Href("~/Odev/Ayarlar?OdevID=")@odev.OdevID" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdevAyarlari"><i class="fa fa-cog"></i></a>
                        <a href="@Href("~/Odev/OdevGonderileri?OdevID=")@odev.OdevID" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdeviniGonderenler"><i class="fa fa-user"></i></a>
                        <a href="#" class="btn btn-danger btnOdevSil" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdeviSil" data-OdevID="@odev.OdevID"><i class="fa fa-remove"></i></a>                   
                    </td>
               </tr>
            }
         </tbody>
    </table>

        </div>

  
    </div>



<div class="modal" id="modalYeniOdevVer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.lblYeniBirOdevVer</h4>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="frmOdevEkle">
                    <div class="row">
                    <div class="col-lg-6">
                        <label>@Resources.Resource.lblDers</label>
                        <select name="DersID" id="cmbDersID" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdevinVerilecegiDers">
                         @foreach(var ders in queryDerslerim)
                         {
                             <option value="@ders.DersID">@ders.DersAdi</option>
                         }
                        </select>
                        
                         <label>@Resources.Resource.lblBaslik</label>
                        <input type="text" id="txtOdevBaslik" class="form-control" name="Baslik" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdevBasligi">
                        <label>@Resources.Resource.lblOdevMetni</label>
                        <textarea name="Aciklama" class="form-control" rows="5" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdevAciklamasi"></textarea>
                        
                         
                        
               </div>

            <div class="col-lg-6">
                <label>@Resources.Resource.lblOdevGonderimi</label>
                        <select id="cmbOdevGonderimi" class="form-control" name="OdevGonderimi" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblOdevGonderimi">
                            <option value="1"> @Resources.Resource.lblAcik</option>
                            <option value="2"> @Resources.Resource.lblKapali</option>
                            <option value="3"> @Resources.Resource.lblSonTeslimTarihineGoreOtomatik</option>
                        </select>
                       
                        
                 <label>@Resources.Resource.lblSonTeslimTarihi</label>
                        <input type="text" name="SonTeslimTarihi" class="form-control">
                   
            <label>@Resources.Resource.lblDosyaEki</label>
                        <div role="tabpanel">

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tabBilgisayar" aria-controls="home" role="tab" data-toggle="tab">@Resources.Resource.lblBilgisayardan</a></li>
                            <li role="presentation"><a href="#tabDosyalar" aria-controls="profile" role="tab" data-toggle="tab">@Resources.Resource.lblDosyalarimdan</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tabBilgisayar">
                                <br>
                                    <input type="file" class="form-control" id="txtBilgisayardanDosya"  name="file" placeholder="@Resources.Resource.lblDosyaSec">
                            </div>
                            
                              <div role="tabpanel" class="tab-pane" id="tabDosyalar">
                                  <br>
                                  <select class="form-control" placeholder="@Resources.Resource.lblDosyaBul" id="cmbDosyalardanDosya" name="DosyaID">
                                  </select>
                                    
                              </div>
                         </div>

                        </div>

                           
            </div>
                 </div>
                </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnOdevVer">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>


   
@section js
{
    
    <script src="@Href("~/Shared/Plugins/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Href("~/Shared/Plugins/datatables/dataTables.bootstrap.js")"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="@Href("~/Shared/Plugins/moment/moment.min.js")"></script>
    <script src="@Href("~/Shared/Plugins/daterangepicker/daterangepicker.js")"></script>
    <script src="@Href(string.Format("~/Shared/Javascript/Dil/{0}/Odev/VerdigimOdevler.js",dil))"></script>
    <script src="@Href("~/Shared/Javascript/Odev/VerdigimOdevler.min.js")"></script>
   
}