@{
  
    var ad="";
    var soyad="";
    var ePosta="";     
    var parola="";   
    bool hataVar=false;   
    var mesajEPostaKayitli="";
    var mesajGuvenlikKoduHatasi="";
    var returnUrl=Request.QueryString["returnUrl"];
    
   var dil="tr";
   
   if (Request.Url.GetLeftPart(UriPartial.Authority).Contains("azureboard.com"))
     {
         dil="en";
     }
     else
     {
         dil="tr";
         Culture=UICulture="tr-TR";
     }

    var db=Database.Open("fb1ae");
    
    
    if (IsPost)
    {
       
        ad=Request.Form["txtAd"];
        soyad=Request.Form["txtSoyad"];
        ePosta=Request.Form["txtEPosta"];
        parola=Request.Form["txtParola"];
        
        if (db.QueryValue("SELECT COUNT(*) FROM Profiles WHERE ePosta=@0",ePosta)!=0)
        {
          mesajEPostaKayitli= Resources.Resource.msgGirilenEpostaDahaOnceKayitEdilmis;
          hataVar=true;
        }

        if (!ReCaptcha.Validate("6LdM5hwTAAAAAAAjS6NQWI7uVXlCddNNhSJ__Slu")) {
            hataVar=true;
            mesajGuvenlikKoduHatasi="Güvenlik kodu hatalı girildi";

         }

        if (hataVar==false)
        {

            db.Execute("INSERT INTO Profiles(ePosta,Ad,Soyad,Dil) VALUES (@0,@1,@2,@3)",ePosta,ad,soyad,dil);
       
            var token= WebSecurity.CreateAccount(ePosta,parola,false);
      
            Roles.AddUserToRole(ePosta,"Ogrenci");
         
            db.Close();
            WebSecurity.Login(ePosta,parola);
           
            if (string.IsNullOrEmpty(returnUrl))
            {
            Response.Redirect("~/Panel");
            }
            else
            {
                Response.Redirect("~/" + returnUrl);
            }
        }


       }
       
    db.Close();
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@Resources.Resource.lblBulutDersCom</title>

    <meta name="description" content="register page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="@Href("~/Shared/TemaBeyond/assets/css/bootstrap.min.css")" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="@Href("~/Shared/TemaBeyond/assets/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Href("~/Shared/TemaBeyond/assets/css/weather-icons.min.css")" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300"
          rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="@Href("~/Shared/TemaBeyond/assets/css/beyond.min.css")" rel="stylesheet" />
    <link href="@Href("~/Shared/TemaBeyond/assets/css/demo.min.css")" rel="stylesheet" />
    <link href="@Href("~/Shared/TemaBeyond/assets/css/typicons.min.css")" rel="stylesheet" />
    <link href="@Href("~/Shared/TemaBeyond/assets/css/animate.min.css")" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />
    <link href="@Href("~/Shared/Plugins/jquery.growl/jquery.growl.css")" rel="stylesheet" type="text/css">
    <script src="@Href("~/Shared/TemaBeyond/assets/js/skins.min.js")"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>



<div class="main-container container-fluid">

        <!-- Page Container -->
    
        <div class="page-container">
            <div class="row">
               
                <div class="col-lg-4 col-sm-12 col-xs-12" style=" float: none;margin: 0 auto;padding-top: 15px; text-align: center">
                 <a href="@Href("~/Hesap/Giris")"> <img src="@Href("~/Images/logo2.png")"></a><br>
                </div>
            </div>
            <div class="row">
               
                <div class="col-lg-4 col-sm-12 col-xs-12" style=" float: none;margin: 0 auto;padding-top: 25px;">
                     
                 @RenderBody()
                </div>
            </div>
            
                
          
                 
            </div>
</div>

     <!--Basic Scripts-->
    <script src="@Href("~/Shared/TemaBeyond/assets/js/jquery.min.js")"></script>
    <script src="@Href("~/Shared/TemaBeyond/assets/js/bootstrap.min.js")"></script>
    <script src="@Href("~/Shared/TemaBeyond/assets/js/slimscroll/jquery.slimscroll.min.js")"></script>

    <!--Beyond Scripts-->
    <script src="@Href("~/Shared/TemaBeyond/assets/js/beyond.min.js")"></script>
 

</body>
<!--Body Ends-->
</html>
