@{
   if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Panel");
    }
    if (Roles.IsUserInRole("Admin"))
    {
        Response.Redirect("~/Admin");
    }
    Layout = "~/Shared/_LayoutYeni.cshtml";
    var db=Database.Open("fb1ae");
    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
    var dil=queryKullanici.Dil;
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }
    var roller=Roles.GetRolesForUser(WebSecurity.CurrentUserName);
    var sonAktiviteID="";
    List<Aktivite> listeAktiviteler=new List<Aktivite>();
    IEnumerable<dynamic> queryAktiviteler=null;    IEnumerable<dynamic> queryDerslerim=null;
    
    if (roller.Contains("Ogretici"))
     {
        queryAktiviteler=db.Query("SELECT top 25 * FROM Aktivite WHERE Aktivite.DersID IN (SELECT DersID FROM Ders WHERE Arsivlendi=0 AND Ders.Silindi=0 AND Ders.UserID=@0) AND Silindi=0 ORDER BY AktiviteID DESC",WebSecurity.CurrentUserId);        queryDerslerim=db.Query("SELECT  * FROM Ders WHERE Silindi=0 AND userID=@0 AND Arsivlendi=0",WebSecurity.CurrentUserId);   
     }
    else if (roller.Contains("Ogrenci"))
    {
        
      queryAktiviteler=db.Query("SELECT top 25 * FROM Aktivite WHERE Silindi=0 AND Aktivite.DersID IN (SELECT DersID FROM DersTakip WHERE UserID=@0 AND Durum=2) AND Aktivite.DersID NOT IN (SELECT DersID FROM Ders WHERE Arsivlendi=1 OR Ders.Silindi=1) ORDER BY AktiviteID DESC",WebSecurity.CurrentUserId);  
  
    }
  
    foreach(var aktivite in queryAktiviteler)
    {
       Aktivite a=new Aktivite();
       a.AktiviteID=aktivite.AktiviteID;
       sonAktiviteID=a.AktiviteID.ToString();
       a.UserID=aktivite.UserID;
       a.DersID=aktivite.DersID;
       a.Ikon=aktivite.Ikon;
       a.IlaveFoto=aktivite.IlaveFoto;
       a.IlaveMetin=aktivite.IlaveMetin;
       a.IlaveURL=aktivite.IlaveURL;
       a.Metin=aktivite.Metin;
       a.Renk=aktivite.Renk;
       a.EylemID=aktivite.EylemID;
       a.Silindi=aktivite.Silindi;
       a.Tarih=aktivite.Tarih;
       a.URL=aktivite.URL;
       a.UI_BegeniSayisi=db.QueryValue("SELECT count(*) FROM AktiviteBegeni WHERE Silindi=0 AND AktiviteID=@0",aktivite.AktiviteID);
       a.UI_AktiviteOkundu=db.QueryValue("SELECT count(*) FROM AktiviteOkunan WHERE AktiviteID=@0",aktivite.AktiviteID);
       a.UI_GorunenTarih=Genel.DateLabel(aktivite.Tarih,dil);
       var queryAktiviteUser=db.QuerySingle("SELECT * FROM Profiles INNER JOIN Unvan ON Profiles.UnvanID=Unvan.UnvanID  WHERE userID=@0",aktivite.UserID);
       if (aktivite.UserID==WebSecurity.CurrentUserId || roller.Contains("Ogretici"))
       {
           a.UI_SilmeDugmesi=1;
       }
       else
       {
           a.UI_SilmeDugmesi=0;
       }

       if (aktivite.DersID!=-1) {
         a.UI_DersAdi=db.QueryValue("SELECT DersAdi FROM Ders WHERE DersID=@0",aktivite.DersID);
       }

       if (db.QueryValue("SELECT COUNT(*) FROM AktiviteBegeni WHERE Silindi=0 AND AktiviteID=@0 AND UserID=@1",aktivite.AktiviteID,WebSecurity.CurrentUserId)==0)
       {
           a.UI_AktiviteBegendi=0;
       }
       else
       {
           a.UI_AktiviteBegendi=1;
       }
      
       if (db.QueryValue("SELECT COUNT(*) FROM AktiviteOkunan WHERE AktiviteID=@0 AND UserID=@1",aktivite.AktiviteID,WebSecurity.CurrentUserId)==0)
       {
           db.Execute("INSERT INTO AktiviteOkunan(AktiviteID,UserID) VALUES(@0,@1)",aktivite.AktiviteID,WebSecurity.CurrentUserId);
       }
       listeAktiviteler.Add(a);
    }
    db.Close();
   
 }@section css
{
   <link rel="stylesheet" href="@Href("~/Shared/Plugins/summernote/summernote.css")">
}

@section SayfaBasligi
{
   <h1>@Resources.Resource.lblAnasayfa</h1>
}

<div class="row"> 
    <div class="col-lg-12">        
                            <div class="dropdown">

                        
                                  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary btn-lg shiny">
                                    <i class="fa fa-plus-circle fa-2x"></i>
                                    <span class="caret"></span>
                                  </button>
                                                    @if (roller.Contains("Ogretici"))                       {
                       
                               <ul class="dropdown-menu" aria-labelledby="dLabel">                                          <li><a href="#" data-toggle="modal" data-target="#modalDosyaEkle" title="Dosya Paylaş" data-toggle="tooltip" data-placement="top"><i class="fa fa-file fa-fw"></i> Dosya Paylaş </a></li>                                          <li><a href="#" data-toggle="modal" data-target="#modalDuyuruYap"><i class="fa fa-clipboard fa-fw"></i> Yazı Paylaş </a></li>                                          <li><a href="#" data-toggle="modal" data-target="#modalYeniOdevVer"><i class="fa fa-tasks fa-fw"></i> Ödev Ver </a></li>                                          <li><a href="#" data-toggle="modal" data-target="#modalDersEkle"><i class="fa fa-book fa-fw"></i> Ders Sayfası Oluştur </a></li>                                          </ul>   
                       
                       
                     
                       }
                      @if (roller.Contains("Ogrenci"))                             {                            <ul class="dropdown-menu" aria-labelledby="dLabel">                                 <li><a href="#" data-toggle="modal" data-target="#modalDerseKatil" title="Erişim Kodu Kullanarak Bir Ders Sayfasını Takip Et" data-toggle="tooltip" data-placement="top"><i class="fa fa-plus-circle"></i> Erişim Kodu Kullanarak Bir Ders Sayfasını Takip Et </a></li>
                                 <li><a href="#" id="btnDerseKatilDersAra"><i class="fa fa-search"></i> Ders Sayfası Ara </a></li>                            </ul>                            }                    </div>                       <br><br>
    <div class="widget">
               <div class="widget-header bordered-top bordered-blueberry">
                                            
                     <span class="widget-caption"><strong>@Resources.Resource.lblAktiviteler</strong></span>
                      <div class="widget-buttons">

                                              <a href="#" data-toggle="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                              
                                                <a href="#" data-toggle="maximize">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                               
                                            </div><!--Widget Buttons-->                     
                </div><!--Widget Header-->
               <div class="widget-body">                   <div class="row">                    <div class="col-sm-12 col-lg-12 col-md-12">                     <table class="table table-hover" id="tabloAktiviteler" >		
       <thead>		
            <tr>		
                <th></th>		
                <th></th>		
               <th></th>		
              <th></th>		
                   		
                		
            </tr>		
        </thead>		
         <tbody>		
            @foreach (var item in listeAktiviteler)		
            {		
                		
                <tr>		
                    <td class="text-center text-@item.Renk"><span>		
                            <i class="fa @item.Ikon fa-fw fa-2x"></i>  </span>		
                            <br>		
                            <h4><i class="fa fa-thumbs-o-up" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblBegeniSayisi"></i> <button class="btn btn-link btnBegenenleriGoster" data-AktiviteID="@item.AktiviteID"> @item.UI_BegeniSayisi </button> </h4>		
                            <br>		
                            <h4><i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblGoruntuleyenKisiSayisi"></i><button class="btn btn-link btnGoruntuleyenleriGoster" data-AktiviteID="@item.AktiviteID"> @item.UI_AktiviteOkundu </button></h4>		
                    </td>		
                    		
                    <td>		
                       		
                        @HelperProfil.KucukKunye(Convert.ToInt32(item.UserID))		
                      @if (dil=="tr")		
                      {		
                        <a href="@item.URL"> @item.UI_DersAdi @Resources.Resource.lblDersinde </a>		
                        		
                        <a href="@item.URL">@Genel.AktiviteEylemindenMetne(item.EylemID,dil) </a>		
                       }		
                       else if (dil=="en") 		
                       {		
                        		
                        <a href="@item.URL">@Genel.AktiviteEylemindenMetne(item.EylemID,dil) </a>  		
                        <a href="@item.URL">in @item.UI_DersAdi </a>		
                       }		
                        <br>		                        <br>
                        @if (item.IlaveMetin!=null) {		
                            @Html.Raw(item.IlaveMetin)		
                        }		
                        		
                        <br><br>		
                    @if (item.UI_AktiviteBegendi==0)		
                      {		
                        <button type="button" class="btn btn-link btn-xs AktiviteBegen" data-AktiviteID="@item.AktiviteID">		
                          <i class="fa fa-thumbs-o-up"></i> @Resources.Resource.lblBegen		
                        </button>		
                        }		
                        else		
                       {		
                            <button type="button" class="btn btn-link btn-xs AktiviteBegenmektenVazgec" data-AktiviteID="@item.AktiviteID">		
                          <i class="fa fa-thumbs-o-down"></i> @Resources.Resource.lblBegenmektenVazgec		
                            </button>		
                        }		
		
                    </td>		
                    <td class="text-right">@item.UI_GorunenTarih</td><td>		
                    @if (item.UI_SilmeDugmesi==1)		
                    {		
                     <button class="btn btn-danger shiny btnAktiviteSil btn-xs" data-AktiviteID="@item.AktiviteID"><i class="fa fa-remove"></i></button>		
                    }		
                    </td>		
                </tr>		
            }		
         </tbody>		
    </table>                    </div>                   </div>      
               
                   <br>
              <button class="btn btn-info"  id="btnOncekiaktiviteler" data-SonAktiviteID="@sonAktiviteID"> @Resources.Resource.lblDahaOncekiAktiviteleriGor</button><br><br>                              
                                        </div><!--Widget Body-->
                                    </div><!--Widget-->
     
        <br>
    </div>
 
</div>

<div class="modal" id="modalKisiDetaylari" data-tip="-1" data-AktiviteID="-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">@Resources.Resource.lblDetaylar</h4>
      </div>
      <div class="modal-body" style="overflow:auto;height: 300px">
        <table id="tableKisiListesi" class="table table-hover">
        
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblKapat</button>
        
      </div>
    </div>
  </div>
</div> @if (roller.Contains("Ogretici")) {
<div class="modal" id="modalYeniOdevVer" tabindex="-1" role="dialog" aria-labelledby="odevVermyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="odevVermyModalLabel">@Resources.Resource.lblYeniBirOdevVer</h4>
      </div>
      <div class="modal-body">
        <form method="post" id="odevVerfrmOdevEkle">
             <div class="row">
                    <div class="col-lg-12">
                        <label>@Resources.Resource.lblDers</label>
                        <select name="DersID" id="odevVercmbDersID" class="form-control">
                            <option value=""></option>
                         @foreach(var ders in queryDerslerim)
                         {
                             <option value="@ders.DersID">@ders.DersAdi</option>
                         }
                        </select>
                        
                         <label>@Resources.Resource.lblBaslik</label>
                        <input type="text" id="odevVertxtOdevBaslik" class="form-control" name="Baslik">
                        
                        <label>@Resources.Resource.lblOdevMetni</label>
                        <div id="odevVertxtAciklama"></div>
                        
                        
               </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="odevVerbtnOdevVer">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div><div class="modal" id="modalDosyaEkle" tabindex="-1" role="dialog" aria-labelledby="dosyaPaylasmyModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dosyaPaylasmyModalLabel1">@Resources.Resource.lblYeniBirDokumanEkle</h4>
      </div>
      <div class="modal-body">
        
            <label>@Resources.Resource.lblDers</label>
            <select name="DersID" id="dosyaPaylascmbDersID" class="form-control">
                <option value=""></option>
                @foreach(var ders in queryDerslerim)
                  {
                     <option value="@ders.DersID">@ders.DersAdi</option>
                  }
             </select>
          <br>
         <label>@Resources.Resource.lblAciklama</label>
         <textarea class="form-control" name="txtAciklama" id="dosyaPaylastxtAciklama" placeholder="@Resources.Resource.msgEklenecekDokumanileIlgiliKisaAciklamaGir" required></textarea>
         <label>@Resources.Resource.lblBilgisayardaDosyaSec</label>
         <input type="file" class="form-control" id="dosyaPaylastxtDosya" required name="file" placeholder="@Resources.Resource.lblDosyaSec">
               
        
           
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="dosyaPaylasbtnDosyaEkle">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div><div class="modal" id="modalDuyuruYap" tabindex="-1" role="dialog" aria-labelledby="duyuruYapmyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="duyuruYapmyModalLabel"> Yazı Paylaş</h4>
      </div>
      <div class="modal-body">
     
             <div class="row">
                    <div class="col-lg-12">
                        <label>@Resources.Resource.lblDers</label>
                        <select name="DersID" id="duyuruYapcmbDersID" class="form-control">
                            <option value=""></option>
                         @foreach(var ders in queryDerslerim)
                         {
                             <option value="@ders.DersID">@ders.DersAdi</option>
                         }
                        </select>
                       
                        <label>Yazı</label>
                        <textarea name="MesajMetni" class="form-control" rows="8" id="duyuruYapMesajMetni"></textarea>
                        
                    </div>

           
            </div>
      
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="duyuruYapbtnDuyuruYap">@Resources.Resource.lblTamam</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>       
      </div>
    </div>
  </div>
</div><div class="modal" id="modalDersEkle"  role="dialog" aria-labelledby="DersEkleMyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="DersEkleMyModalLabel">@Resources.Resource.lblYeniBirDersOlustur</h4>
      </div>
      <div class="modal-body">
                <label>@Resources.Resource.lblDersinAdi</label>
          <input type="text" class="form-control" id="txtDersEkleDersAdi" required  placeholder="Dersin Adını Girin...">
          
          <label>@Resources.Resource.lblAciklama</label>
          <textarea class="form-control" id="txtDersEkleDersAciklama"></textarea>

          <label>@Resources.Resource.lblDerseKabulSekli</label>
          <select id="cmbDersEkleKabulSekli" class="form-control">
                        <option value="1">@Resources.Resource.lblHerkeseAcik</option>
                        <option value="2" selected>@Resources.Resource.lblDersSorumlusuOnayi</option>
                       
                    </select>

          <label>@Resources.Resource.lblAramalardaGorunsun</label>
          <select id="cmbDersEkleAramalardaGoster" class="form-control">
                       
                        <option value="1" selected>@Resources.Resource.lblEvet</option>
                        <option value="0">@Resources.Resource.lblHayir</option>
                    </select>
            <br>
            
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnDersEkleDersEkle">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>}
@if (roller.Contains("Ogrenci")) {
 <div class="modal" id="modalDerseKatil"  role="dialog" aria-labelledby="DerseKatilmyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="DerseKatilmyModalLabel">@Resources.Resource.lblErisimKoduKullanarakDerseKatil</h4>
      </div>
      <div class="modal-body">
                <label>@Resources.Resource.lblErisimKodu</label>
          <input type="text" class="form-control" id="txtDerseKatilErisimKodu" required  placeholder="@Resources.Resource.lblErisimKodu" autofocus="true">
         
            <br>
            
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnDerseKatilDerseKatil">@Resources.Resource.lblTamam</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.lblIptal</button>
        
      </div>
    </div>
  </div>
</div>   
}


@section js
{

    <script src="@Href("~/Shared/Plugins/summernote/summernote.min.js")"></script>
    @if  (dil=="tr")
    {
    <script src="@Href("~/Shared/Plugins/summernote/lang/summernote-tr-TR.js")"></script>     
    }
   
   <script src="@Href(string.Format("~/Panel/Js/Panel.Labels.{0}.js",dil))"></script>
   <script src="@Href("~/Panel/Js/Default.min.js")"></script>
}