@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Hesap/Giris?returnUrl=Panel");
    }
   
    Layout = "~/Shared/_LayoutYeni.cshtml";  

    var sorgu=Request.Form["txtAra"];
    var db=Database.Open("fb1ae");  
    var sorguIfadesiKisi="";
    var sorguIfadesiDers="";
    var roller=Roles.GetRolesForUser(WebSecurity.CurrentUserName);
        sorgu=sorgu.Replace("'","");

    var anahtarKelimeler=sorgu.Split(' ');
    var icSorguIfadesiDers="";
    var icSorguIfadesiKisi="";

    foreach(var anahtarKelime in anahtarKelimeler)
    {
      
        var anahtarKelime2=anahtarKelime.Replace('I','İ').Replace('ı','i').Trim().ToLower();
        
        icSorguIfadesiKisi+=" AND (Profiles.Ad LIKE N'%" + anahtarKelime2 +"%' OR Profiles.Ad LIKE N'%" + anahtarKelime +"%' OR Profiles.Soyad LIKE N'%" + anahtarKelime2 +"%' OR Profiles.Soyad LIKE N'%"+ anahtarKelime +"%')";
        icSorguIfadesiDers+=" AND (Ders.DersAdi LIKE N'%" + anahtarKelime2 +"%' OR Ders.DersAdi LIKE N'%"+ anahtarKelime +"%' OR Ders.Aciklama LIKE N'%" + anahtarKelime2 +"%' OR Ders.Aciklama LIKE N'%"+ anahtarKelime +"%' )";
       
    }
   icSorguIfadesiDers=icSorguIfadesiDers.TrimStart(" AND".ToCharArray());
   icSorguIfadesiKisi=icSorguIfadesiKisi.TrimStart(" AND".ToCharArray());
   if (string.IsNullOrEmpty(icSorguIfadesiKisi))
   {
       icSorguIfadesiKisi="(Profiles.Ad LIKE '%')";
   }

   if (string.IsNullOrEmpty(icSorguIfadesiDers))
   {
       icSorguIfadesiDers="(Ders.DersAdi LIKE '%')";
   }

    var queryKullanici=db.QuerySingle("SELECT * FROM Profiles WHERE userID=@0",WebSecurity.CurrentUserId);
    var dil=queryKullanici.Dil;
    
    if (dil=="tr")
       {
           Culture=UICulture="tr-TR";
       }

    if (string.IsNullOrEmpty(sorgu))
    {
        sorguIfadesiKisi="SELECT * FROM Profiles  WHERE Profiles.Aktif=1 AND userID NOT IN (SELECT webpages_usersInRoles.UserID FROM webpages_usersInRoles WHERE webpages_usersInRoles.RoleId=3) ORDER BY Profiles.Ad";
    }
    else 
    {
        
     
        sorguIfadesiKisi="SELECT  * FROM Profiles WHERE "+ icSorguIfadesiKisi +" AND Profiles.Aktif=1 AND userID NOT IN (SELECT webpages_usersInRoles.UserID FROM webpages_usersInRoles WHERE webpages_usersInRoles.RoleId=3) ORDER BY Profiles.Ad";
    }

   
   if (string.IsNullOrEmpty(sorgu))
    {
        sorguIfadesiDers="SELECT  top 100 * FROM Ders WHERE Arsivlendi=0 AND Ders.Silindi=0 AND AramalardaGoster=1";
    }
    else 

    {
        sorguIfadesiDers="SELECT top 100 * FROM Ders INNER JOIN Profiles ON Ders.UserID=Profiles.userID WHERE Ders.Arsivlendi=0 AND Ders.Silindi=0 AND Ders.AramalardaGoster=1 AND (" + icSorguIfadesiDers +" OR " + icSorguIfadesiKisi +")";
    }

    var queryKisiler=db.Query(sorguIfadesiKisi);
    var queryDersler=db.Query(sorguIfadesiDers);

   
    db.Close();
}

@section Gezinti {
    <li class="active">@Resources.Resource.lblAramaSonuclari</li>
}


@section SayfaBasligi
{
   <h1>@Resources.Resource.lblAramaSonuclari</h1>
}

<div class="row">
    <div class="col-lg-12">       <form method="post" action="#">
        <div class="form-group">
                 <span class="input-icon icon-right inverted">
                     <input type="text" class="form-control input-lg" name="txtAra" value="@sorgu">
                     <i class="glyphicon glyphicon-search bg-blue"></i>
                 </span>
        </div>       </form>
     <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">      <li role="presentation" class="active"><a href="#tabDersler" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-book fa-fw"></i> @Resources.Resource.lblBulunanDersler</a></li>
    <li role="presentation"><a href="#tabKisiler" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-user fa-fw"></i> @Resources.Resource.lblBulunanKisiler</a></li>
    
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">      <div role="tabpanel" class="tab-pane active" id="tabDersler">
        <br>
        <table class="table table-hover">
            @foreach (var ders in queryDersler) {
                
                <tr>
                    <td><h4><a href="@Href("~/Ders/?DersID=")@ders.DersID"> @ders.DersAdi</a></h4></td>                    <td><h2>@if (ders.KabulSekli==1){<i class="icon fa fa-globe" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.lblHerkeseAcik"></i>} else {<i class="icon fa fa-lock" data-toggle="tooltip" data-placement="top" title="@Resources.Resource.msgBuDersiTakipEtmekIcinOnayGerekiyor"></i>}</h2></td>
                    <td>
                       @HelperProfil.KucukKunye(ders.UserID)
                    </td>                    
                    <td>                        @if (roller.Contains("Ogrenci"))                          {
                              <button class="btn btn-success btnDersiTakipEt" data-DersID="@ders.DersID"><i class="fa fa-plus"></i> @Resources.Resource.lblDersiTakipEt</button>
                          }                        <a href="@Href("~/Ders/?DersID=")@ders.DersID" class="btn btn-primary"><i class="fa fa-search-plus"></i> @Resources.Resource.lblDersSayfasinaGozat</a>                    </td>
                </tr>
                
            }
        </table>
    </div>

    <div role="tabpanel" class="tab-pane" id="tabKisiler">
        <br>
        <table class="table table-hover">
            @if (queryKisiler.Count()==0)
            {
                <h3>@Resources.Resource.msgKritereUygunKisiYok</h3>
            }
            else
            {
            foreach (var kisi in queryKisiler) {
                
                <tr>
                    <td><h4>@HelperProfil.KucukKunye(kisi.userID)</h4></td>
                    <td>
                       <a href="@Href("~/Hesap/Profil?UserID=")@kisi.userID" class="btn btn-primary"> @Resources.Resource.lblKisiSayfasinaGozat</a>
                    </td>
                    <td></td>
                </tr>
                
            }
            }
        </table>
    </div>
   
  </div>

          

</div>
    </div>

</div>
@section js
{
 
   <script src="@Href(string.Format("~/Arama/Js/Arama.Labels.{0}.min.js",dil))"></script>   
   <script src="@Href("~/Arama/Js/Arama.min.js")"></script>
   
}
